%section.content-header
  %h1
    Bot Chat
    %small Optional description
%section.content
  .row
    .col-xs-12
      .box
        .box-header
          %h3.box-title Conversaciones entre el Robot y un Usuario
        / /.box-header
        .box-body.table-responsive.no-padding
          %table.table.table-hover
            %thead
              %tr
                %th Nombre
                %th Apellido
                %th
                %th
                %th 
            %tbody#tbody
              - @clients.each do |client|
                %tr
                  %td= client.name
                  %td= client.last_name
                  %td
                  %td
                  %td= link_to 'Ver Conversación', home_client_chat_path(client_id: client.id)


  -#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title Conversación
        .modal-body
          \...
        .modal-footer
          %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close



:javascript
  //$("#tbody").on("click", "tr", function() {
  //  $('#myModal').modal('show');
  // });
